doctype 5
html(lang="en")
  head
    title=pageTitle
    script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
    script(src='http://code.jquery.com/jquery-2.0.3.min.js', type='text/javascript')
    script(src='bootstrap/js/bootstrap.min.js', type='text/javascript')
    script(src='graphs.js', type='text/javascript')
    link(rel='stylesheet', type='text/css', href='style.css')
    link(rel='stylesheet', type='text/css', href='bootstrap/css/bootstrap.min.css')
  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container-fluid
          ul.nav
            li
              a(href='#').brand #{projectName}
          ul.nav
            li.dropdown
              a(href='#', data-toggle='dropdown').dropdown-toggle
                | Charts
                b.caret
              ul.dropdown-menu
                each chart, i in charts
                  li
                    a(href='#'+ i) #{chart.title}
          ul.nav
            li
              a(href="#sysinfo", role="button", data-toggle="modal") System Information
    
    div.container-fluid
      div.row-fluid
        div.hero-unit

    div#sysinfo(tabindex="-1", role="dialog", aria-labelledby="modalLabel", aria-hidden="true").modal.hide.fade
      div.modal-header
        button(type="button", data-dismiss="modal", aria-hidden="true").close x
        h3#modalLabel System Information

      div.modal-body
        | These benchmarks were run on a system with the following specs. As
        | usual, your millage may vary if you try running these on your own
        | machine
        table.table.table-bordered
          tbody
            tr
              th Platform
              td #{sysinfo.platform}
            tr
              th Architecture
              td #{sysinfo.arch}
            tr
              th Release
              td #{sysinfo.release}
            tr
              th Total Memory
              td #{sysinfo.mem} Bytes
            tr
              th CPU Model
              td #{sysinfo.cpuVersion}
            tr
              th CPU Count
              td #{sysinfo.cpuCount}
      div.modal-footer
        button(data-dismiss="modal", aria-hidden="true").btn Close
